$backgroundColor: #141414;
$backgroundLight: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08)
    ),
    $backgroundColor;
$backgroundLighter: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
    ),
    $backgroundColor;

$backgroundMuchLighter: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.23),
        rgba(255, 255, 255, 0.23)
    ),
    $backgroundColor;
$primaryColor: rgb(145, 189, 216);
$primaryColorDark: rgba(145, 189, 216, 0.6);
$textColor: rgba(255, 255, 255, 0.87);
$textColorDark: rgba(255, 255, 255, 0.6);
