.expandable {
    background: $backgroundLighter;
    position: relative;
    border-radius: 30rem;
    width: 8.5rem;
    height: 5.5rem;
    margin: 0.5;
    margin-bottom: 1rem;

    @media (min-width: 22em) {
        margin: 1rem;
    }

    @media (min-width: 30em) {
        width: 12rem;
        height: 7rem;
    }

    &::before {
        content: '.';
        opacity: 0;
        display: block;
        width: 12rem;
        height: 1rem;
        position: absolute;
        top: -1rem;
        left: 0;
    }

    .expanded-box {
        position: absolute;
        height: 5.5rem;
        padding: 0 0.3rem 0 0.3rem;
        background: $backgroundMuchLighter;
        border-radius: 2.8rem;
        bottom: 6.5rem;
        display: none;
        justify-content: center;

        @media (min-width: 30em) {
            bottom: 8rem;
        }

        button {
            position: relative;
            width: 4rem;
            height: 4rem;
            background: $primaryColor;
            border-radius: 2rem;
            margin: 0.8rem 0.4rem 0 0.4rem;
            font-size: 1.7rem;
            color: #000;

            label {
                padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                position: absolute;
                width: 5rem;
                left: -0.5rem;
                bottom: 4.5rem;
                border-radius: 1rem;
                font-size: 1.1rem;
                color: $textColor;
                background: $backgroundMuchLighter;
                visibility: hidden;
            }

            svg {
                fill: #000;
                width: 2rem;
                height: 2rem;
            }

            .label-btn-content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */
            }
        }
    }
    .expanded-box-left {
        left: -1.5rem;
    }
    .expanded-box-right {
        right: -1.5rem;
    }

    &:hover {
        background: $backgroundMuchLighter;
        .expanded-box {
            display: flex;

            button:hover {
                transform: scale(1.4);
                transform-origin: bottom;

                label {
                    visibility: visible;
                }
            }
        }
    }
}
.hovered {
    background: $backgroundMuchLighter;
}
.button-hovered {
    transform: scale(1.4);
    transform-origin: bottom;
}
