.spinner {
    animation: rotation 1.4s linear infinite;
    stroke: #fff;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.circle {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: turn 1.4s ease-in-out infinite;
}

@-webkit-keyframes turn {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes turn {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.music-box__modal__message {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    // background-color: #fff;
    padding: 3rem;
    border-radius: 0.2rem;
    // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    svg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 10vw;
        height: 10vw;
        transform: rotate(0deg);
        animation: rotate 0.7s linear infinite;
    }
}

.music-box__modal__message__text {
    color: #fff;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 3.5rem;
    text-transform: capitalize;
}

.music-box__modal__message__explainer {
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    margin-top: 3.5rem;
}

.music-box__modal__icon {
    color: #fff;
    font-size: 7rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -46%);
}

.music-box__modal__record-rings {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border: 0.1rem solid #3bc16f;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30rem;
    animation-name: sonar-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    opacity: 0;
    &:nth-child(1) {
        animation-delay: 0s;
    }
    &:nth-child(2) {
        animation-delay: 0.3s;
    }
    &:nth-child(3) {
        animation-delay: 0.6s;
    }
    &:nth-child(4) {
        animation-delay: 0.9s;
    }
    &:nth-child(5) {
        animation-delay: 1.2s;
    }
}
