@import 'util/screen';
header {
    width: 100%;
    height: 8rem;
    padding-left: 2.5rem;
    position: fixed;

    background: rgba(20, 20, 20, 0.6);
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

    color: #fff;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0.125rem;

    display: flex;
    align-items: center;

    @media (min-width: 30em) {
        font-size: 3rem;
    }
    z-index: 1;
}

nav {
    width: 100%;
    height: 26rem;
    background: linear-gradient(90deg, $secondaryColor 0%, $primaryColor 100%);
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-info {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: #000;
            width: 6rem;
            height: 6rem;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
                transform-origin: center;
            }
        }

        .text {
            color: #000;
            letter-spacing: 0.125rem;
            width: 30rem;
            margin: 3rem;
        }
        .listen {
            font-size: 3rem;
            text-align: right;
            margin-bottom: 1rem;
        }
        .retrain {
            font-size: 1.5rem;
            text-align: right;
        }
        .help-us {
            font-size: 2.2rem;
            text-align: left;
        }
    }

    #training {
        color: purple;
        text-align: center;
        margin-top: 2rem;
        font-size: 1.5rem;
        display: none;
    }
}

.about-container {
    background: #ffc4ff;

    width: 100%;
    height: 40rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin-left: 1rem;
        color: purple;
        font-size: 2.5rem;
        line-height: 1.25;
        max-width: 50rem;
        b {
            font-weight: 500;
        }
        @media (min-width: 30em) {
            margin-left: 3rem;
            font-size: 3rem;
        }
    }
}

.statistics-box-container {
    width: 100%;
    padding: 6rem 2rem;

    .container-title {
        color: white;
        text-align: center;
        font-size: 2rem;
    }
}

.statistics-box-container1 {
    background: $backgroundLight;
}

.statistics-box {
    margin: 2rem auto 0 auto;
    padding-top: 1rem;
    border-radius: 0.4rem;
    background: $backgroundLighter;
    max-width: 70rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12),
        0px 8px 10px rgba(0, 0, 0, 0.14);

    .chart-title {
        margin: 0 0.5rem;
        text-align: center;
        font-size: 1.5rem;
    }
}

.statistics-box-more {
    margin-top: 4rem;
}

div.apexcharts-canvas.apexcharts-theme-dark {
    background: transparent !important;
}

footer {
    width: 100%;
    background: black;
    height: 10rem;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0.125rem;
    display: flex;
    align-items: center;
    a {
        color: white;
        padding-left: 2.5rem;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
}
