@import 'util/screen';
@import 'util/expandable';
@import 'util/radio';
@import 'util/spinner';

/* Spectrogram & Legend */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 11.8rem);
}

/* Go Back SVG */
#back-btn {
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    fill: $textColor;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    &:hover {
        fill: #fff;
    }
    z-index: 1;
}

/* Progress Bar */
#progress-label {
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translate(-50%);
    font-size: 2rem;
    letter-spacing: 0.0625rem;
}
#progress-bar {
    position: absolute;
    left: 50%;
    top: 4.5rem;
    transform: translate(-50%);
    height: 0.375rem;
    width: 20rem;
    background-color: $primaryColorDark;
    border-radius: 0.2rem;

    #progress {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $primaryColor;
        transition: width 0.3s linear;
    }
}

button {
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none;
}

/* Bottom Bar */
#bottom-bar {
    position: absolute;
    bottom: 0;
    background: $backgroundLight;
    width: 100%;

    #view-details {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        #view-details-text {
            font-size: 2rem;
            color: $textColorDark;
        }

        svg {
            width: 4rem;
            fill: $textColorDark;
        }

        #expand-less {
            display: none;
        }
    }

    #details-container {
        max-height: 0;
        overflow: hidden;
        padding-left: 2rem;

        div {
            margin: 0.5rem;
        }

        .details {
            font-size: 1.5rem;
            color: $textColorDark;
        }

        svg {
            width: 2rem;
            fill: $textColorDark;
        }

        transition: 0.5s;
    }

    @media (min-width: 30em) {
        #view-details {
            display: none;
        }
        #details-container {
            display: flex;
            max-height: 5rem;
            justify-content: space-around;
            padding: 0.5rem;
        }
    }

    .buttons-container {
        display: flex;
        justify-content: center;

        #play-pause {
            background: $backgroundLighter;
            width: 7rem;
            height: 7rem;
            border-radius: 30rem;
            margin: 1rem;

            &.playing {
                #pause {
                    display: inline-block;
                }
                #play {
                    display: none;
                }
            }

            &:hover {
                background: $backgroundMuchLighter;
            }

            svg {
                fill: $textColor;
                width: 4rem;
                height: 4rem;
            }

            #play {
                display: inline-block;
            }

            #pause {
                display: none;
            }
        }

        .text-btn {
            background: none;
            color: $textColor;
            font-size: 2.2rem;
            letter-spacing: 0.125rem;
            width: 12rem;
            height: 7rem;
            border-radius: 30rem;
        }
    }
}
