@import 'util/reset';
@import 'util/expandable';
@import url('https://fonts.googleapis.com/css?family=Poppins:400|Roboto:200,300,400,500,400italic,500italic');

html {
    font-size: 62.5%;
}
body,
html {
    width: 100%;
    height: 100%;
    color: $textColor;
    font-family: 'Roboto', sans-serif;
    background: $backgroundColor;
}

button {
    cursor: pointer;
    border: none;
    &:focus {
        outline: none;
    }
}

/* Spectrogram & Legend */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 11.8rem);
}

/* Go Back SVG */
#back {
    position: absolute;
    left: 1.8rem;
    top: 1.8rem;
    fill: $textColor;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    &:hover {
        fill: #fff;
    }
}

/* Progress Bar */
#progress-label {
    position: absolute;
    left: 50%;
    top: 1.5rem;
    transform: translate(-50%);
    font-size: 2rem;
    letter-spacing: 0.0625rem;
    z-index: 1;
}
#progress-bar {
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translate(-50%);
    height: 0.375rem;
    width: 20rem;
    background-color: $primaryColorDark;
    border-radius: 0.2rem;

    #progress {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $primaryColor;
        transition: width 0.3s linear;
    }
}

/* Bottom Bar */
#buttons-box {
    position: absolute;
    bottom: 0;
    background: $backgroundLight;
    width: 100%;
    display: flex;
    justify-content: center;

    #play-pause {
        background: $backgroundLighter;
        width: 7rem;
        height: 7rem;
        border-radius: 30rem;
        margin: 1rem;

        &.playing {
            #pause {
                display: inline-block;
            }
            #play {
                display: none;
            }
        }

        &:hover {
            background: $backgroundMuchLighter;
        }

        svg {
            fill: $textColor;
            width: 4rem;
            height: 4rem;
        }

        #play {
            display: inline-block;
        }

        #pause {
            display: none;
        }
    }

    .text-btn {
        background: none;
        color: $textColor;
        font-size: 2.2rem;
        letter-spacing: 0.125rem;
        width: 12rem;
        height: 7rem;
        border-radius: 30rem;
    }
}
