[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
pytest = "*"
flask-migrate = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"

[requires]
python_version = "3.8"
